.card {
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  width: 227px;
  height: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
  color: #DE5499;
  padding-left: 25px;
  padding-right: 20px;
  box-shadow: 0px 10px 20px rgba(222, 84, 153, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.card:hover {
  background-color: #DE5499;
  box-shadow: 0px 15px 20px rgba(222, 84, 153, 0.5);
  color: #f2ebe9;
  transform: translateY(-7px);
}

.flex1 {
  flex: 1;
}

.flex4 {
  flex: 4;
}

.righttext {
  direction: rtl;
}

.cardprice {
  position: absolute;
  text-align: right;
  padding-top: 115px;
  padding-left: 145px;
  font-size: 25px;
}

.Menu {
  margin: 50px 100px;
}