.nav-bar {
     list-style-type: none;
     margin: 0;
     padding: 0;
     padding-left: 50px;
     overflow: hidden;
     background-color: #EDDCD9;
   }
   
   li {
     float: left;
   }
   
   li a {
     display: block;
     color: #264143;
     text-align: center;
     padding: 30px 40px;
     text-decoration: none;
     font-weight: bold;
     font-size: 30px;
   }
   
   li a:hover:not(.active) {
     background-color: #F2EBE9;
   }
   
   .active {
     background-color: #F2EBE9;
   }
   