.nav-bar {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: rgb(219, 215, 215);
   }
   
   li {
     float: left;
   }
   
   li a {
     display: block;
     color: rgb(22, 21, 21);
     text-align: center;
     padding: 20px 16px;
     text-decoration: none;
     font-weight: bold;
     font-size: 20px;
   }
   
   li a:hover:not(.active) {
     background-color: rgb(187, 183, 183);
   }
   
   .active {
     background-color: #939796;
   }
   