@import './css/Home.css';
@import './css/Menus.css';
@import './css/NavBar.css';
@import './css/AddMenu.css';
@import './css/MenuDetail.css';

/*==========Home==========*/
.Home{
  margin: 30px 100px;
}

/*=======================*/

header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 15px;
  width: auto;
  height: 105px;
}


