/*==========Header==========*/
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(219, 215, 215);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(22, 21, 21);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: rgb(187, 183, 183);
}

.active {
  background-color: #939796;
}

/*==========Tab==========*/

.tab{
  display: flex;
  flex-direction: row;
 
}

.tab ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.tab ul li a{
  display: block;
  color: rgb(22, 21, 21);
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.tab ul li a:hover{
  background-color: rgb(224, 220, 220);
}

/*==========Menu==========*/
.Menu{
  margin: 30px 100px;
}


/*==========MenuList==========*/
.MenuList{
  margin: 30px 100px;
}

/*==========AddMenu==========*/
.AddMenu{
  margin: 30px 100px;
}
input[type="text"],input[type="number"] {
  padding:10px ;
  width: 500px;
  
}
select , option{
  padding:10px ;
  width: 200px;
  margin: 10px;
}
input{
  margin: 5px;
}
button{
  padding:10px ;
  width: 200px;
  margin: 10px;
}